

mixin header(selection)
    #title
      a(href='/')
        img(src='/images/WF-Final-Logo2.jpg', style='margin-bottom: 35px; margin-top: 15px;')
    #navigation
      ul
        li(style='padding-left: none;')
          a(href='/about') about
        li
          a(href='/films') films
        li(style='padding-right: none;')
          a(href='/inquiries') inquiries
        li
          a(href='http://whitefilmjournal.tumblr.com', target='_blank') journal