extends ../layout

include ../mixins/header

block header
    mixin header()

block content
    p
        | white film is an art world production company that produces high-quality videos.
    p
        | each film produced by white film will be specially fitted to the artist, gallery, institution, fair, or museum’s needs. 
        | the issues that white film aims to address are color checking of art works, quality of informative content combined with an artistic and tasteful voice behind the camera. 
        | white film is founded and run out of new york city.



    for file in files
        .film
            | #{autopages.getAsJSON(file).title}

