extends ../layout

include ../mixins/header

block header
    mixin header()

block content
    .inquiries
        p
            | please contact 
            
            a(href="mailto:info@whitefilmproductions.com", style="color=#666")
                | info@whitefilmproductions.com 

            | for all inquiries.


