@import "lib/prettyphoto";
@import "fonts";

.mobile {
    display: none;
}

@charset "UTF-8";
/* CSS Document */

/*global*/

#container {
    width: 100%;
    max-width:960px;
    margin-left: auto;
    margin-right: auto;
    font-family: "letter-gothic-std", sans-serif;
    font-weight: "400";
}

#content {
    margin-left: auto;
    margin-right: auto;

    p {
        
        
    }

}

.about,
.inquiries {
    max-width: 700px;
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 0.7em;
}

.about {
    text-align: justify;
}


p {
    font-family: "letter-gothic-std", sans-serif;
    color: black;
}

a {
    font-family: "letter-gothic-std", sans-serif;
    text-decoration: none;
    color: #CCC;
}

a:hover {
    color:#000;
}

li {
    font-family: "letter-gothic-std", sans-serif;
}

p.well {
    font-size:.67em;
    color:#888;
}

div.rwell {
    max-width: 700px;
    text-align: center;
}

.footer {
    text-align: center;
    font-size: .4em;
    padding-top: 25px;
}

.film-container {
    max-width: 960px;
}

/*header*/
#headershell {
    text-align:center;
    color:#888;
}

#headershell a {
    text-decoration: none;
    color:#888;
}

#headershell a:hover {
    color:#000;
}

#title {
    font-size: 2.7em;
    line-height: 0;
    padding-top:10px;
    padding-bottom: 5px;
}

#navigation{
    margin-top: -17px;
    margin-bottom: 15px;
}

#navigation ul {
    font-size: .69em;
    padding:0px;
}

#navigation li {
    list-style:none;
    display: inline;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

/*archive*/

.lone{
    margin-left: 10px;
    text-decoration: none;
    font-family: "letter-gothic-std", sans-serif;
    font-weight: "100";
    color:#FFF;
    font-size: .75em;
    line-height: 1;
    text-align:left;
    padding-right:10px;
    
}
.ltwo{
    margin-left: 10px;
    text-decoration: none;
    font-family: "letter-gothic-std", sans-serif;
    font-weight: "100";
    color:#FFF;
    font-size: .65em;
    font-style: italic;
    line-height: 0;
    text-align:left;
    padding-right:10px;
    
}
.lthree{
    margin-left: 10px;
    text-decoration: none;
    font-family: "letter-gothic-std", sans-serif;
    font-weight: "100";
    color:#FFF;
    font-size:.55em;
    text-align:left;
    padding-right:10px;
}

#anavshell { 
    width:100px;
    text-align: left;
    position: absolute;
    margin-bottom: 15px;
    margin-left: -80px;
    z-index:1000;
}

#arcnav {
    width: 100%;
    padding-top: 4px;
    padding-bottom: 5px;
}

#arcnav ul li  {
    list-style:none;
}

#arcnav ul li a {
    font-size:.75em;
    color:#CCC;
    text-decoration:none;
    padding-left: 1.5%;
    padding-right: 1.5%;
}

#arcnav li a.selected {
    color:#000;
}

.main {
    padding:0;
    margin-left: auto;
    margin-right: auto;
    display:block;
    padding-top: 25px;
    text-align: center;
}


.entry { 
    position:relative;
    float:left;
    margin:5px;
    cursor:pointer;
    width:300px;
    height:135px;
    padding:0;
}

.portfolio { 
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
 }

.overlay {
    background:rgba(0,0,0,.7);
    position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    opacity:0;
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -ms-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;
}

.entry:hover .overlay { opacity:1; }

img {
    max-width:100%;
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
-webkit-transition-duration: 0s;
   -moz-transition-duration: 0s;
        transition-duration: 0s;
}

.isotope {
-webkit-transition-property: height, width;
   -moz-transition-property: height, width;
        transition-property: height, width;
}

.isotope .isotope-item {
-webkit-transition-property: -webkit-transform, opacity;
   -moz-transition-property:    -moz-transform, opacity;
        transition-property:         transform, opacity;
}

/*buttonswap*/

#inputform{
    font-family: "letter-gothic-std", sans-serif;
    font-weight: "100";
    font-size:.7em;
    margin-left: auto;
    margin-right: auto;
}


.gray{
    color: gray;
}

div.ppt {visibility : hidden;} 

@import "mobile";
