doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
    head
        link(rel='shortcut icon', href='favicon.ico')
        script(type='text/javascript', src='//use.typekit.net/egy2jrt.js')
        script(type='text/javascript').
            try{Typekit.load();}catch(e){}
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title
            block title
                | White Film
        link(rel='stylesheet', href='/css/app.css', type='text/css', media='screen')



    body

        #container
            #headershell  
                block header

            #main
                block content

          #footer
            p.footer 
                | ©&nbsp;2014&nbsp;&nbsp;|&nbsp;&nbsp;info@whitefilmproductions.com 


        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
        script(src='/js/wfiscripts.js')
        script(src='/js/lib/imagesloaded.js')
        script(src='/js/lib/bigvideo.js')
        script(src='/js/lib/modernizer.js')
        script(src='/js/lib/jquery-ui.js')
        block scripts

